body {
	color: #FFF4F1;
	background-color: #B27D85;
	font-size: 18px;
	font-family: Domine, serif;

}


	nav {
		background-color:#B27D85;
		position: fixed;
    	right: 0;
    	margin: 15px;
	}

	nav a {
		color: white;
		padding: 5px;
	}

	.greeting{
		float:left;
		width:30%;
		margin-top:30px;
		font-family: Roboto, serif;
		font-size: 18px
		line-height: 1.5em;
		margin: 2em;
	}

	.greeting-photo{
		width:100%;
	}

	.bio{
		float:left;
		width:30%;
		padding-top: 52px;

	}

	.project_1{
		float:left;
		width: 33.33%;
		width:300px;

	}

	.project_1_photo{
		float:left;
		width:33.33%;
		padding-top:30px;

	}

	.project_2{
		float: left;
		width: 33.33%;
		width:300px;

	}

	.project_2_photo{
		float: left;
		width: 33.33%;
		width: 300px;
	}