body {
	color: #FFF4F1;
	background-color: #B27D85;
	font-size: 18px;
	font-family: Merriweather;

}

	.greeting{
		float:left;
		width:70%;
	}

	.greeting-photo{
		width:70%;
		height: 700px
		width:500px;

	}

	.bio{
		float:left;
		width:30%;
		padding-top: 30px;

	}

	.project_1{
		float:left;
		width: 33.33%;
		width:300px;

	}

	.project_1_photo{
		float:left;
		width:33.33%;
		padding-top:30px;

	}

	.project_2{
		float: left;
		width: 33.33%;
		width:300px;

	}

	.project_2_photo{
		float: left;
		width: 33.33%;
		width: 300px;
	}